# build
dist
dist_tsc
*.js
*.js.map
*.d.ts

# include types
!src/types/*.d.ts

# include jest config
!jest.config.js

# npm
node_modules
npm_debug.log*

!*babelrc*
!*uglify*
!*rollup*
!*jest*
!*release*

*.tgz
